@{
    ViewData["Title"] = "Library";
}

<h1>Библиотека</h1>
<p>Это страница Index для LibraryController.</p>

<ul>
    <li><a href="/Library/Catalog">Каталог</a></li>
    <li><a href="/Library/Search">Поиск</a></li>
</ul>